/* some style */
* {
  margin: 0px;
  padding: 0px;
  background-color: #000;
  color: #eee;
}

.cell {
  background-color: #222;
  width: 40px;
  height: 40px;
  margin: 6px;
  font-size: 25px;
  position: absolute;
  text-align: center;
}

.cell:hover {
  cursor: pointer;
}

/*
.cell.highlighted {
  background-color: #ccc;
  border-color: #000;
}
*/

.cell.locked {
  /*background-color: #777;*/
  background-color: #ccc;
  border-color: #000;
}
