#result-list {
  font-family: Monaco;
  font-size:   0.93em;
}

li:hover {
  color:            #333;
  background-color: #ddd;
  cursor:           pointer;
}

.result-list-item {
		float: left;
		margin-right: 10px;
}
