body {
  background: #222;
  color: #cdcdcd;
  margin: 3em auto;
  width: 567px;
}

.grid-row {
  float: left;
  width: 30px;
  /*border: 1px solid red;*/
}

.grid-cell {
  background-color: #222;
  height: 20px;
  width: 20px;
  margin: 5px;
  border-radius: 10px;
  transition: border-radius 0.6s, box-shadow 0.6s, background-color 0.6s;
}

.grid-cell.highlighted {
  transition: border-radius 0.6s, box-shadow 0.6s, background-color 0.6s;
  border-radius: 2px;
  background-color: #eee;
}

.grid-cell.lowlighted {
  transition: border-radius 0.6s, box-shadow 0.6s, background-color 0.6s;
  box-shadow:inset 0px 0px 0px 1px #eee;
  border-radius: 2px;
  background-color: #222;
}
