/* some style */
* {
  margin: 0px;
  padding: 0px;
  background-color: #000;
  color: #eee;
}

.cell {
  background-color: #555;
  width: 40px;
  height: 40px;
  margin: 6px;
  font-size: 25px;
  position: absolute;
  text-align: center;
}

.cell.locked {
  background-color: #444;
  border-color: #000;
}

#step-btn {
  position: absolute;
  font-size: 1.2em;
  padding: 10px;
}
