body {
  font-family: Inconsolata-dz, Arial, Helvetica, sans-serif;
}

#container {
  border:  5px solid #eee;
  width:   800px;
  height:  510px;
  margin:  0 auto;
  padding: 10px;
}

#drum-grid {
  float:  left;
  border: 4px solid #ddd;
  width:  500px;
  height: 500px;
}

.drum-row {
  width:   454px;
  height:  62px;
  border:  3px solid #ddd;
  padding: 10px;
  margin:  10px;
}

.drum-btn {
  float:            left;
  margin:           5px;
  height:           41px;
  width:            41px;
  background-color: #f3f3f3;
  border:           2px solid #f3f3f3;
  border-radius:    16px;
}

.playback-drum-row {
  width:   454px;
  height:  62px;
  padding: 10px;
  margin:  10px;
}

.playback-drum-btn {
  float:            left;
  margin:           5px;
  height:           41px;
  width:            41px;
  background-color: #f3f3f3;
  border:           2px solid #f3f3f3;
  border-radius:    20px;
}

.drum-btn:hover {
  background-color: #ddd;
  cursor: pointer;
}

.colored {
  background-color: #ccc;
  border:           2px solid #ccc;
}

#options-container {
  float:  right;
  border: 4px solid #ddd;
  width:  275px;
  height: 500px;
}

.options-row {
  width:   230px;
  height:  62px;
  border:  3px solid #ddd;
  padding: 10px;
  margin:  10px;
}

.option-btn {
  float:         left;
  margin:        5px;
  height:        41px;
  width:         41px;
  border:        2px solid #ccc;
  border-radius: 16px;
}

.option-btn:hover {
  background-color: #eee;
  cursor: pointer;
}

button#play-pause-btn {
  margin:   10px;
  padding:  12px;
  position: relative;
  float:    right;
}

.active {
  background-color:   #ccc;
  border:             2px solid #ccc;
  -webkit-transition: background-color 500ms linear;
}
