* {
  margin: 0px;
  padding: 0px;
}

.column {
  float: left;
}

.box {
  height: 30px;
  width: 30px;
  background-color: #252425;
  /*margin: 5px;*/
  /*border-radius: 4px;*/
  /*transition: background-color 2s;*/
}

.box.highlighted {
  background-color: #bbb;
  transition: background-color 1s;
}

.debugger-line {
  float: left;
}
